body{
	padding: 0;
	margin: 0;
}
.sence{
	width: 601px;
	height: 601px;
	margin: 0 auto;
	background: #ccc;

}
.b{
	width: 29px;
	height: 29px;
	background: #fff;
	margin-top: 1px;
	margin-left: 1px;
	float: left;

}
.s{
	background: green;
}
.f{
	background: red;
}